.c-message-card {
    margin: 2px;
    padding: 10px;
}
.userComment{
    width:100%;
    height:50%;
    overflow: scroll;
}

.userComment > div > img {
    width:5%;
}

/* .userCommentArea {
    width:100%;
    max-height:20%;
    overflow: scroll; 
} */

/* .col-md-6 .form-group {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    box-sizing: border-box;
}

.col-md-6 .userCommentArea {
    background-color: green;
    height: calc(100% - 26px);
} */

/* textarea.form-control {
    height: 100%;
}

div.userCommentArea.form-group {
    width: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    box-sizing: border-box;
} */

/* .form-group {
    max-height: 100%;
    overflow: scroll; 
} */