.c-message-accordion .accordion .card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    flex-flow: row wrap !important;
}

.c-message-accordion .accordion .card-header .btn-link{
    color: black;
    font-weight: bold;
    text-decoration: none !important;
    border: none;
}

/* .c-message-accordion .accordion .card-header .btn-link :hover{
    color: black;
    font-weight: bold;
    text-decoration: none !important;
} */

.c-message-accordion .accordion .card-header .btn:focus {
    outline: none;
    box-shadow: none;
}

.message-card-bottons {
    position: relative;
    margin-left: auto;
}
#messages {
    position: absolute;
    color: black;
    /* background-color: white; */
    /* border-radius: 30%; */
    right: 10%;
    /* opacity: 0.5; */
    bottom: 3%;
    /* bottom: 40%; */
}
div > div > #dot {
    /* width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white; */
    position: absolute;
    right: 10%;
    bottom: 40%;
    /* opacity: 0.8; */
}

