.c-message-accordion .accordion .card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.c-message-accordion .accordion .card-header .btn-link{
    color: black;
    font-weight: bold;
    text-decoration: none !important;
    border: none;
}

/* .c-message-accordion .accordion .card-header .btn-link :hover{
    color: black;
    font-weight: bold;
    text-decoration: none !important;
} */

.c-message-accordion .accordion .card-header .btn:focus {
    outline: none;
    box-shadow: none;
}

